/* RESET - ESTILOS GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background: #f7f2f5;
  background: radial-gradient(circle,rgba(247, 242, 245, 1) 1%, rgba(206, 225, 240, 1) 100%);
  color: #18171c;
  padding: 0 0 20px 0;
}

/* HEADER */
header {
  background-color: #6C9A06;
  color: #e9e9e9;
  padding: 28px;
  text-align: center;
}

header img {
  max-width: 150px;
  border-radius: 16px;
}

header a {
  color: #e9e9e9;
  text-decoration: none;
}

#main-title {
  font-size: 36px;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

nav {
  display: flex;
  background-color: #2A7B9B;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

nav ul li a {
  color: #e9e9e9;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 8px;
}

nav ul li a:hover {
  color: #2A7B9B;
  background-color: #e9e9e9;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 8px;
}

#btn-login {
  background-color: #e0b046;
  color: #e9e9e9;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
} 

#btn-login:hover {
  background-color: #e9e9e9;
  color: #2A7B9B;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

/* MAIN */
section {
  margin: 12px;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th {
  background-color: lightgrey;
}

table th, table td {
  padding: 12px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 100%;
} 

#form-contacto {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 480px;
  padding: 20px;
  border: 0.5px solid lightgray;
  border-radius: 16px;
}

#btn-submit-form {
  background-color: #6C9A06;
  color: #e9e9e9;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

#btn-submit-form:hover {
  background-color: #b2d565;
  color: #e9e9e9;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

input {
  padding: 10px;
  border: 0.5px solid lightgray;
  border-radius: 8px;
}

textarea {
  padding: 10px;
  border: 0.5px solid lightgray;
  border-radius: 8px;
  height: 120px;
}

/** FOOTER */