
/* IDS */
/* Cuando la etiqueta tiene caracteristiscas únicas - Único Elemento */

 #about-us  {  
  background-color: lightgray !important;
  border: 0.5px solid black;
  margin: 20px;
} 

#container {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 50%;
  flex-direction: row;
  justify-content:space-around;
  align-items:stretch;
}

.box {
  background-color: lightblue;
  border: 0.5px solid black;
  margin: 10px;
  padding: 20px;
}

/* Clases */
/* Cuando la etiqueta puede repetirse - Múltiples Elementos */
span, .span-class{
    font-weight: bold;
    color: purple;
    margin: 8px;
}

.clase-item-lista {
    font-size: 18px;
    margin: 5px;
    background-color: black;
    color: palevioletred;
}

/* Etiquetas - Elementos */

nav {
  background-color: #6C9A06;
}

h1 {
    color: pink;
    background-color: rgb(108, 154, 6);
}

h2 {
  color: greenyellow;
  background-color: chocolate;
  background-color: rgba(108, 154, 6, 0.3);
}

/*
colores de fondo
1- Cómo asociar imgs a un fondo?
2- Fondos con degradados? - Gradientes

*/

/*
Modelo  Caja
Border,
Margin:
400px → margen superior
0 → margen derecho
0 → margen inferior
200px → margen izquierdo


, Padding, Content
*/

h3 {
  display: flex;
  border: 0.5px solid black; /* grosor de la linea - tipo de linea - color de la linea */
  margin: 20px; /* espacio fuera del borde */
  padding: 40px;
  justify-content: center;
  background: #2A7B9B;
  background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

p {
    font-size: 20px; /* Tamaño de letra */
    color: blue; /* Color de la letra */
    font-weight: bold; /* Grosor de la letra */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* Tipo de letra */
    text-align: center; /* Alineación del texto */
}