<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Título del documento - Curso Java UdeA</title>
  <meta name="description" content="Documento informativo del curso de Java en la Universidad de Antioquia.">
  <meta name="author" content="Grupo 1 Java-UdeA">
</head>
<body>

  <!-- HEADER DEL SITIO -->
   <header>
    <figure>
      <img src="../imgs/file_java_isometric.jpg" alt="img-alusiva-java" width="180" height="120">
      <figcaption>
        Grupo 1 - Curso de Java - Ingenia - Universidad de Antioquia
      </figcaption>
    </figure>
        <a href="../index.html">Volver</a>

   </header>
   <h1>
    Bienvenidos a nuestro portal de estudiantes - Java UdeA
   </h1>

   <nav>
    <!-- Llenaremos nuestro menú de navegación con una lista desordenada UL -->
    <ul>
      <li><a href="#about-us">Sobre nosotros</a></li>
      <li><a href="#events">Eventos</a></li>
      <li><a href="./views/projects.html">Proyectos</a></li>
      <li><a href="./views/contact.html">Contáctanos</a></li>
    </ul>

    
   </nav>

  <main>
    <section id="projects">
      <table border="1">
        <thead>
          <tr>
            <th>Proyecto</th>
            <th>Descripción</th>
            <th>Stack</th>
            <th>Enlace</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Gestor de notas de estudiantes</td>
            <td>Servidor node para gestionar las notas de estudiates por grupo.</td>
            <td>Node.js, Express, MySql</td>
            <td><a href="https://github.com/yBetancurr4002/my-first-server-node" target="_blank">Link a Github</a></td>
          </tr>
          <tr>
            <td>Gestor de finanzas personales</td>
            <td>Aplicación de escritorio con Java para profundizar sobre los conceptos de programación orientada a objetos POO.</td>
            <td>Java, MySql</td>
            <td><a href="https://github.com/yBetancurr4002/my-first-server-node" target="_blank">Link a Github</a></td>
          </tr>
      </table>
    </section>
  </main>

  <footer>
    <h2>Curso de Java - Universidad de Antioquia</h2>
    <p>Proyecto desarrollado por el Grupo 1 del curso de programación en Java.</p>
    <p>© 2025 Universidad de Antioquia. Todos los derechos reservados.</p>
    <p>
      <a href="mailto:grupo1java@udea.edu.co">Contacto</a> |
      <a href="politicas.html">Políticas de uso</a> |
      <a href="https://www.udea.edu.co" target="_blank" rel="noopener noreferrer">Universidad de Antioquia</a> |
      <a href="index.html">Volver al inicio</a>
    </p>
  </footer>

</body>
</html>